
a, a:hover, a:active, a:visited{
    text-decoration: none;
}
#search_list{
    width: 600px;
}
#search_list, .wrap_search_item{
    border: 1px solid #dbdbdb;
}
.wrap_search_item{
    font-size: 11px;
}
.wrap_text{
    display: inline-block;
    height: 100px;
}
.movie_poster{
    height: 100px;
    display: inline-block;
}
.article_text{
    display: block;
}